<h1>Please confirm your ride request</h1>

<p>Hi,</p>

<p>Please confirm your ride request for the event "<strong><%= @ride_request.event.name %></strong>" by clicking the button below:</p>

<p><a href="<%= event_ride_request_confirm_url(@ride_request.event, @ride_request, token: @ride_request.token, locale: I18n.locale) %>" class="button">Confirm request</a></p>

<p>If the button doesn't work, copy this link into your browser:</p>
<div class="secret-link"><a href="<%= event_ride_request_confirm_url(@ride_request.event, @ride_request, token: @ride_request.token, locale: I18n.locale) %>"><%= event_ride_request_confirm_url(@ride_request.event, @ride_request, token: @ride_request.token, locale: I18n.locale) %></a></div>

<p>We will email you when a matching offer is posted for this event.</p>

<p>If you have no idea what this email is about, please ignore it and do something else.</p>

<p class="signoff">Kind regards from the HopHub platform.</p>
