.row.justify-content-center
  .col-12.col-lg-9
    %h1
      =t('update_offer.title')
      ="(" + t(@entry.direction) + ")"

    =render partial: "form", locals: { submit_text: t('update_offer.title'), method: :update }
