.row.justify-content-center
  .col-12.col-lg-9
    %h1
      =t('create_new_offer.title')

    %p
      = t('create_new_offer.text')

    =render partial: "form", locals: { submit_text: t('create_new_offer.title'), method: :new }
