.row
  .col-12
    %span
      %b=@entry.name
      -unless [:bicycle, :foot].include? @entry.transport.to_sym or @entry.seats == 0
        –
        %span=pluralize(@entry.seats, t('seat.one'), t('seat.other'))
    %br
    %span
      =t('simple_form.labels.entry.transport') + ':'
      %i.mx-1{class: icon_class_for_transport(@entry.transport)}
      =t("transport.#{@entry.transport}")
  .col-12
    %span=l @entry.date, format: :long
  .col-12
    %span
      -if @entry.is_way_there?
        =t('simple_form.labels.entry.starting-point') + ':'
      -else
        =t('simple_form.labels.entry.destination') + ':'
    %span=@entry.location

  .col-12
    =link_to t('entry_contact.title'), event_entry_path(@entry.event, @entry), class: 'btn btn-primary btn-sm w-100 mt-1', role: 'button'

