.row.justify-content-center
  .col-12.col-lg-12
    #entry-table
      -last_date = nil
      -@paginated_entries.each do |entry|
        -if last_date == entry.date.to_date
          .row
            .col-12.col-md-12
              %hr
        -else
          -last_date = entry.date.to_date
          .row
            .col-12.col-md-12
              %h2.mt-3=l entry.date.to_date, format: :long_with_dow

        =render entry

  .col-12.col-lg-12
    .container.d-flex.align-items-center.justify-content-center.py-3
      =paginate @paginated_entries, theme: 'bootstrap-5',
        pagination_class: "pagination flex-wrap justify-content-center",
        nav_class: "d-inline-block"

.col-12.col-lg-3
