.row.justify-content-center
  .col-12.col-lg-9
    %h1= @event.name
    %small
      %i.bi.bi-calendar
      =t('event_valid_until', date: l(@event.end_date.to_date, format: :long_with_dow))

    .shadow.p-3.mb-3.bg-body.rounded.mt-3.pb-1
      .event-description
        =@description.html_safe

=turbo_frame_tag 'entry' do
  .row.justify-content-center.my-4
    .col-12.col-lg-3
    .col-12.col-lg-3.text-center
      %span= t('add_offer.offer_yourself')
      =link_to new_event_entry_path(@event), class: 'btn btn-primary w-100 my-2', role: 'button' do
        %i.bi.bi-plus-lg
        =t('add_offer.title')
    .col-12.col-lg-3

  -if @entries.any?
    =render 'filter_form', event: @event

    -if @filtered_entries.any?
      =render 'entries'
  -else
    .row.justify-content-center
      .col-12.col-lg-9
        %h2= t('no_entries.title')
        %p= t('no_entries.text')
