.altcha-widget-host{
  data: {
    controller: "altcha-widget",
    "altcha-widget-label-value":    label,
    "altcha-widget-verified-value": verified,
  },
}
  %altcha-widget{
    challenge: Altcha.create_challenge.to_json,
    language: 'en',
    type: 'native',
    style: error ? '--altcha-border-color:var(--bs-form-invalid-border-color)' : '',
  }
