<h1>Confirma tu evento</h1>

<p>¡Hola!</p>

<p>Has creado un nuevo evento en HopHub. Para confirmar el evento "<strong><%= @event.name %></strong>" haz clic en el botón siguiente:</p>

<p><a href="<%= event_confirm_url(@event, admin_token: @event.admin_token, locale: I18n.locale) %>" class="button">Confirmar evento</a></p>

<p>Si el botón no funciona, copia este enlace en tu navegador:</p>
<div class="secret-link"><a href="<%= event_confirm_url(@event, admin_token: @event.admin_token, locale: I18n.locale) %>"><%= event_confirm_url(@event, admin_token: @event.admin_token, locale: I18n.locale) %></a></div>

<p>Si no sabes de qué va esto, ignora este mensaje y haz otra cosa.</p>

<p class="signoff">Saludos del equipo de HopHub.</p>
