<h1>Please confirm your event</h1>

<p>Hi,</p>

<p>Please confirm the event "<strong><%= @event.name %></strong>" by clicking the button below:</p>

<p><a href="<%= event_confirm_url(@event, admin_token: @event.admin_token, locale: I18n.locale) %>" class="button">Confirm event</a></p>

<p>If the button doesn't work, copy this link into your browser:</p>
<div class="secret-link"><a href="<%= event_confirm_url(@event, admin_token: @event.admin_token, locale: I18n.locale) %>"><%= event_confirm_url(@event, admin_token: @event.admin_token, locale: I18n.locale) %></a></div>

<p>If you have no idea what this email is about, please ignore it and do something else.</p>

<p class="signoff">Kind regards from the HopHub platform.</p>
